<h1>Cheeps#index</h1>
<p>Whatup <%= @current_user.username %>!</p>

<%= form_for @cheep, url: post_cheep_path do |f| %>
  <%= f.text_area :cheep_talk %>
  <%= f.submit %>
<% end %>

<div class="cheeps">

  <ul>
    <% @cheeps.each do |cheep| %>
      <li class="cheep">
        <%= cheep.cheep_talk %>
        <br/>
        On <%= cheep.created_at %> by <%= cheep.user.username %>
      </li>
    <% end %>
  </ul>

</div>

<div class="followings">
  <ul>
    <% @users.each do |user| %>
      <% user.followings.each do |following| %>
        <% if following.user_id != @current_user.username %>
          <%= following.follower_id %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
